.sidebar {
    display: flex;
    flex-direction: column;
    margin: 55px auto;
    align-self: flex-start;
    justify-content: center;
  }
  
  .logo {
    margin-bottom: 72px;
    &:hover {
        cursor: pointer;
    }
  }
  
  .icon {
    align-self: center;
    &:nth-child(4) {
      width: 31px;
    }
  
    &:nth-child(5) {
      width: 35px;
    }
  }

.iconWrapper {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin-bottom: 24px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: #A9E9E0BF;
    }

    &:nth-child(7) {
        background-color: #A9E9E0BF;
        border-radius: 16px;
      }
}