.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 168px;
    border-radius: 24px;
    color: #323F47;
    &:hover {
        cursor: pointer;
    }
}

.percentage {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 144px;
    height: 36px;
    border-radius: 24px;
}

.number {
    font-size: 28px;
}

.name {
    font-size: 16px;
}

// Цвета 
.bgPositive {
    background: rgba(84, 211, 194, 1);
}
.bgNegative {
    background: rgba(252, 92, 101, 1);
}

.bgPositiveLight {
    background: rgb(230,249,246);
}

.bgNegativeLight {
    background: rgb(255,231,232);
}

.bgPercentMainPositive {
    background: rgb(125,220,207);
}

.bgPercentMainNegative {
    background: rgba(255, 231, 232, 0.25);
}

.textWhite {
    color: #fff;
}

.textPositive {
    color: rgba(84, 211, 194, 1);
}
.textNegative {
    color: rgba(252, 92, 101, 1);
}
