.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
    width: 1529px;
    height: 1376px;
    border-radius: 56px;
}

.content {
    width: 1402px;
    height: 1376px;
    border-radius: 56px;
    border-bottom-left-radius: 0;
    background-color: #FFFFFF;
}